body {
    margin: 0;
    padding: 0;
    font-family: var(--cui-body-font-family);
    font-size: var(--cui-body-font-size);
    font-weight: var(--cui-body-font-weight);
    line-height: var(--cui-body-line-height);
    color: var(--cui-body-color);
    text-align: var(--cui-body-text-align);
    background-color: var(--cui-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 21, 0);
}

.sm-cover {
    box-shadow: inset 0 0 10rem black;
}

.bg-cover {
    position: fixed;
    height: 106%;
    width: 106%;
    z-index: -1;
}

.bg-cover div {
    background-size: cover;
    background-position: center center;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
}

@media (min-width: 961px) {
    .bg-cover div {
        background-position: 80% center !important;
    }
}

@media (max-width: 960px) {
    .bg-cover div {
        background-position: 70% center !important;
    }
}

@media (min-width: 1025px) {
    .bg-cover div {
        background-position: 90% center !important;
    }
}

@media (min-width: 1281px) {
    .bg-cover div {
        background-position: 100% center !important;
    }
}





.simple-black-blur-1 {
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

.simple-black-blur-2 {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.simple-black-blur-3 {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
}

.simple-black-blur-4 {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(25px);
}

.simple-black-blur-5 {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(50px);
}

.simple-black-border-blur-1 {
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.simple-black-border-blur-2 {
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.simple-black-border-blur-3 {
    border: 2px solid rgba(255, 255, 255, 0.2);

}

.top-border-radius-1 {
    border-radius: 10px 10px 0px 0px;
}

/* .input-blur {
    width: 7297px;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(50px);
    border-radius: 5px;
} */

.head-blur-1 {
    background: rgba(255, 255, 255, 0.25);
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
}

.bg-transparent {
    background: transparent;

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}

.custom-width-1 {
    width: 60%;
}

@media (max-width: 1024px) {
    .custom-width-1 {
        width: 95%;
    }
}