:root {
    --blur: rgba(7, 24, 41, 0.90);
}

.bg-img-1 {
    background: url(../../img/shipOcean-bg/bg-0.png) no-repeat;
}

.bg-img-2 {
    background: url(../../imgshipOcean-bg/bg-1.png) no-repeat;
}

.bg-img-3 {
    background: url(../../img/shipOcean-bg/bg-2.png) no-repeat;
}
.bg-img-4 {
    background: url(../../img/shipOcean-bg/bg-3.png) no-repeat;
}
.bg-img-5 {
    background: url(../../img/shipOcean-bg/bg-4.png) no-repeat;
}
#scene {
    background-color: #08405A;
}

#scene div {
    left: -30px !important;
    top: -40px !important;
}

@supports not ((backdrop-filter: none) or (-webkit-backdrop-filter: none)) {
    .simple-blur {
        background-color: var(--blur) !important;
    }
    .blur {
        background-color: var(--blur) !important;
    }
    .blur .dropdown-menu {
        background-color: var(--blur) !important;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    }
    .blurable .dropdown-menu {
        border-radius: 0.6rem !important;
        background-color: var(--blur) !important;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    }
}